@keyframes blink-Modal { 50% { border-color: #ff0000; }  }
.modal-table {
	border: 8px solid #000000 ;
	/* position: fixed ;
	top: 50% ;
	right: 50% ;
	width: 20em ;
	height: 6em ;
	margin: -2.5em -10em ; */
	text-align:center ;
	font-family: monospace ;
	font-size: 25px ;
	font-weight: bold;
	color: #ff0000 ;
	background-color: black ;
  animation: blink-Modal .5s step-end infinite alternate;
  position: absolute;
  left: 50%;
  top: 500%;
  min-width: 490px;
  transform: translate(-50%, -50%);
}

section {
	background-color: #000000 ;
	text-align:center ;
	font-family: arcade, monospace ;
	font-size: 15px ;
	font-weight: bold ;
  color: #ff0000 ;
  position: absolute;
  left: 50%;
  top: 500%;
  transform: translate(-50%, -50%);
}
