<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/anagramas']" routerLinkActive="router-link-active">Anagrama</a>
      <a mat-list-item [routerLink]="['/piedrapapelotijera']" routerLinkActive="router-link-active">Piedra, papel o tijera</a>
      <a mat-list-item [routerLink]="['/aguilidad']" routerLinkActive="router-link-active">Agilidad Artimética</a>
      <a mat-list-item [routerLink]="['/adivina']" routerLinkActive="router-link-active" >Adivina el número</a>
      <a mat-list-item [routerLink]="['/tateti']" routerLinkActive="router-link-active">TaTeTi</a>
      <a mat-list-item href="#">Mi Juego</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><app-logo></app-logo></span>
      <span class="ml-4 logo">UTN</span><span style="color:orange" class="logo ml-2">Games</span>
      <button class="btn"><i class="fa fa-home"></i></button>
      <app-boton-login style="position: absolute; right: 10px;"></app-boton-login>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
