.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: 40px;
  height: 75px;
  }

  @font-face {
    font-family: lato;
    src: url("./../../../assets/fonts/atari/atari/atari.ttf") format("opentype");
  }

  .logo {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato', 'arial', sans-serif;
    font-size: 4rem;
  }


  .fondo {
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: linear-gradient(135deg, rgba(31,123,229,1) 0%, rgba(58,139,232,1) 47%, rgba(70,153,234,1) 92%, rgba(72,156,234,1) 100%);*/
    background-image: url("../../../assets/img/wallpapers/fondo1.jpg");
    padding-bottom: 30px;
    padding-top: 5px;
  }
