<section class="canvas">

  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">

          <div class="col-2">
              <app-burbuja-mensaje2></app-burbuja-mensaje2>
          </div>
            <div class="col-6">
                <button class="btn btn-primary">Probar...</button>
            </div>
        </div>

      </div>
      <div class="col-4">
        <div class="row">
          <app-genio class="genio" [mensaje1]="juego.mensaje1" [mensaje2]="juego.mensaje2" (miClick)="juego.nuevoJuego()"></app-genio>
        </div>
      </div>
    </div>
  </div>

</section>
